body p {
  font-family:'Josefin Sans', sans-serif;
}

body {
  background-color: #fff;
}

.row {
  width: 80%;
}

.top-bar ul,
.top-bar {
  /*background-color: transparent;*/
  /*background-color: #fdefcc;*/
  /*opacity: .5;*/
  padding-right: 0;
}

.top-bar a {
  width: 100px;
  text-align: center;
  /*color: #555;*/
  color: black;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.35);
  margin-top: 10px;
  /*background-color: #fdefcc;*/
  /*border-radius: 35px;*/
  /*text-transform: capitalize;*/
  font-size: 1.1rem;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: Oswald, sans-serif;
  /*font-weight: 700;*/
  text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.top-bar .logo {
  position: absolute;
  top: 8px;
  left: 5px;
  font-family: 'Dancing Script', cursive;
  text-transform: capitalize;
  color: black;
  width: auto;
  font-size: 3rem;
  padding: 0 0 0 20px;
  background-color: transparent;
  border: none;
  text-shadow: none;
}

.top-bar {
  padding: 0; /*1rem = 32px*/
  width: 100%;
}

.top-bar-right {
    margin-top: 15px;
}

.menu li a{
  margin-right: 2rem;
  padding: .3rem .3rem .3rem .3rem;
  margin-top: 0;
}

.menu li:first-child {
    padding-left: 25px;
}

.top-bar-left ul {
    list-style-type: none;
}

.top-bar-left ul li img {
    left: 350px;
    top: 8px;
    position: absolute;
}

.line {
    /*background-color: #fdefd9;*/
    background-color: transparent;
    margin-top: 10px;
    height: 25px;
}

.top-bar-right .selected-cat,
.top-bar-right li a:hover,
.top-bar-right li a:focus,
.top-bar-right li a:active {
    /*background-color: #fdfaf4;*/
    /*border-radius: 35px;*/
    color: black;
    border-bottom: 2px solid black;
    border-radius: 0;
    /*border: 2px solid #fdefd9;*/
}

ul li .menu-active,
ul li .menu-active:hover {
    color: #646363;
    border-bottom: 2px solid #646363;
    border-radius: 0;
    font-weight: 400;
}


@media only screen and (max-width: 1000px){
    .menu li a{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 888px){
    .top-bar .logo{
        font-size: 2.1rem;
        padding-left:0;
    }
    .top-bar-left ul li img {
        left: 230px;
        top: 8px;
        width: 60px;
    }
    .line {
        margin-top: 0;
    }
    .menu li a{
        font-size: .9rem;
        width: 80px;
    }
    .top-bar {
        margin-top: 10px;
    }
}


@media only screen and (max-width: 639px) {
    .top-bar-left ul li img,
  .top-bar .logo {
    display: none;
  }
    .menu li a:hover {
        font-weight: normal;
        border-bottom: 2px solid transparent;
    }
    .menu li{
        display: block;
        padding: 0 5px 5px 10px;
    }
    .menu li:first-child {
        margin-top: 15px;
        padding-left: 10px;
        text-align: left;
    }
    .menu li a{
        text-align: left;
    }

    .menu .menu-active,
    .menu .menu-active:active,
    .menu .menu-active:hover {
        border-bottom: none;
    }

    .dropdown {
        background-color: #faf9fa;
    }
    .top-bar {
        margin-left: 0;
    }
    .title-bar {
       width: 100%
    }
    .logo-mobile li{
        float: left
    }
    .title-bar-title {
        position: absolute;
        right: 45px;
        top: 15px;
        font-family: Oswald, serif;
        font-weight: normal;
    }
    .menu-icon {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .logo-mobile .logo {
        font-family: 'Dancing Script', cursive;
        color: black;
        font-size: 22px;
        margin-right: 5px;
    }
    .top-bar-right {
        margin-top: -30px;
    }
    .title-bar ul {
        list-style-type: none;
    }
}

/*.top-bar-right {*/
  /*!*margin-top: 10px;*!*/
  /*background-color: #fdefd9;*/
  /*border: 1px solid #dedcdc;*/
  /*border-right: none;*/
/*}*/


.top-bar-right li a {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.top-bar-right li a {
  transition: all .3s;
}

.title-bar {
  background-color: transparent;
  color: #000;
}

.menu-icon::after {  /*hamburger color*/
  background: #000;
  box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

.copyrights{
  float: right;
  padding-top: .3rem;
  padding-right: .7rem;
}

footer {
  /*background-color: #878787;*/
  background-color:#fff;
  height: 30px;
  border-top: 1px solid #5a5a5a;
  font-family:'Josefin Sans', sans-serif;
}


/* ============================================================
  SECTIONS
============================================================ */
.fixed-to-top {
position: relative;
top: 0;
z-index: 99;
  /*position: absolute;*/
  /*height: 600px;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*display: block;*/
}

/*.content {*/
 /*display: block;*/
  /*position: absolute;*/
  /*top:600px;*/
/*}*/

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  font-size: 28px;
  line-height: 600px;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  color: black;
  /*color: #ff3f4d;*/
  text-shadow: 1px 1px rgba(0, 0, 0, 0.44);

}
section.module.parallax-1 {
    background-image: url("../img/kids-parallax3.jpg");
}

section.module.parallax-2 {
     background-image: url("../img/kleinkind-parallax.jpg");
 }

section.module.parallax-3 {
    background-image: url("../img/wedding-parallax2.jpg");
}

section.module.parallax-4 {
     background-image: url("../img/geschwister-parallax1.jpg");
}

section.module.parallax-5 {
     background-image: url("../img/kinder-parallax.jpg");
 }

section.module.parallax-6 {
    background-image: url("../img/portrait-parallax.jpg");
}

section.module.parallax-7 {
    background-image: url("../img/familie-parallax.jpg");
}

section.module.parallax-8 {
    background-image: url("../img/food.jpg");
}

section.module.parallax-9 {
    background-image: url("../img/reportage-parallax.jpg");
}

section.module.parallax-10 {
    background-image: url("../img/mode-parallax.jpg");
}

section.module.parallax-12 {
    background-image: url("../img/tina-parallax-12.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 110px;
  }
}

/*NAVIGATION ON TOP*/
.top-bar{
  position: absolute;
  z-index: 999;
    margin-left: 0;
}

.thumb {
    position: relative;
    padding: 15px;
}

.thumb p{
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 35px;
    width: 100%;
    background: #faf9fa;
    opacity: .8;
    color: #000;
}

.thumb img {
  border: 1px solid #e6e6e6;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.thumb img:hover {
  opacity: .6;
}

/*.column {*/
  /*padding: 10px;*/
/*}*/

.category img {
  /*width: 95%;*/
  /*margin: 0 auto;*/
  /*!*padding: 15px 15px 60px;*!*/
  /*max-height: 200px;*/
  /*!*border-radius: 50%;*!*/
  /*!*opacity: .7;*!*/
}
.category-background {
  /*background-color: grey;*/
  /*padding: 17px 17px 60px;*/
  margin-bottom: 30px;
  /*width:100%;*/
  /*height: 250px;*/
  position: relative;
  /*box-shadow: 3px 3px 2px #f5f4f4;*/
  opacity: .75;
  transition: .4s;
}

.category-background:hover {
  opacity: 1;
}

.cat-name {
  position: absolute;
  bottom: 3px;
  margin: 0 auto;
  width: 100%;
}

.category-background img {
     box-shadow: 3px 3px 2px #f5f4f4;
 }

.cat-name h3 {
  text-align: center;
  font-family: "Josefin Sans", serif;
  text-transform: lowercase;
    font-size: 2rem;
  /*text-transform: capitalize;*/
}

.row {
  width: 85%;
}

body {
  background-color: #faf9fa;
}
/*.category-background-1 {*/
  /*background-color: blue;*/
/*}*/

/*.category-background-2 {*/
  /*background-color: green;*/
/*}*/

/*.category-background-3 {*/
  /*background-color: yellow;*/
/*}*/

/*.category-background-4 {*/
  /*background-color: red;*/
/*}*/

/*.category-background-5 {*/
  /*background-color: violet;*/
/*}*/

/*.category-background-6 {*/
  /*background-color: orange;*/
/*}*/

/*.category-background-7 {*/
  /*background-color: brown;*/
/*}*/

/*.category-background-8 {*/
  /*background-color: pink;*/
/*}*/

/*.thumb:hover img{*/
  /*-moz-transform: scale(1.1);*/
  /*-webkit-transform: scale(1.1);*/
  /*transform: scale(1.1);*/
/*}*/

/*.thumb {*/
  /*opacity: .9;*/
/*}*/

/*.my-gallery img {*/
  /*border: 2px solid #f1f1f1;*/
  /*!*padding: 15px;*!*/
/*}*/

/*.thumb {*/
  /*margin: 2%;*/
  /*overflow: hidden;*/
/*}*/

/*.thumb img {*/
  /*-moz-transition: all 0.3s;*/
  /*-webkit-transition: all 0.3s;*/
  /*transition: all 0.3s;*/
/*}*/

.top-bar-static {
  position: static;
}


/*color: #deb12a;*/
/*color: #fdefd9*/

/* ============================================================
  PORTFOLIO
============================================================ */

.portfolio-title .column h1 {
  margin-top: 120px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: black;
    font-size: 2.7rem;
}

.portfolio-title {
  margin-bottom: 35px;
}

@media only screen and (max-width: 639px) {
    .portfolio-title .column h1 {
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .cat-name h3 {
        font-size: 1.1rem;
    }
}

.form-control {
    width: 40%;
    background-color: #efefef;
}

.form-control:focus {
    border-color: #f54f14;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 81, 17, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #f54f14;
}

#contact-form {
    padding-left: 10%;
    padding-top: 30px;
}

label{
    margin-bottom: 0;
}

form span {
    color: red;
}

.form-inline {
    padding-bottom: 10px;
}
button {
    margin-top: 2px;
}

.btn {
    margin-top: 20px;
    padding: 7px;
    border: 1px solid grey;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #efefef;
}

.btn:hover {
    border: 1px solid white;
    background-color: #acacac;
}

/*End contact form*/

/*#contact-body{*/
/*background-image: url("../img/man-phone-para.jpg");*/
/*background-attachment: fixed;*/
/*!*Give the background a fixed position does it not scroll when you scroll*!*/
/*background-size: contain;*/
/*background-repeat: no-repeat;*/
/*position: relative;*/
/*-webkit-transition: height ease 20s;*/
/*transition: height ease 20s;*/
/*}*/

.contact-list {
    width: 30%;
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%
}

.contact-list li {
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.contact-list span {
    text-align: center;
    padding-top: 3%;
}

.teddy-container {
    position: relative;
}

.teddy-container img {
    position: absolute;
    right: -20px;
    bottom: 0;
}

@media only screen and (max-width: 713px){
    .teddy-container img{
        visibility: hidden;
    }
    .teddy img {
        width: 100px;
    }
}

.teddy {
    margin-right:10px;
}
.teddy img {
    float: right;
}

.kontakt-text {
    margin-top: 120px;
}

.preise-text {
    margin-top: 90px;
}

.kontakt-text p {
    font-size: 20px;
    text-align: center;
}

.kontakt-text span {
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width: 888px){
    .kontakt-text {
        margin-top: 100px;
    }
    .preise-text {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 639px) {
    .kontakt-text {
        margin-top: 50px;
        font-size: 16px;
    }

    .preise-text {
        margin-top: 0;
    }

    .form-control {
        width: 90%;
    }
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tina-portrait {
    margin-top: 50px;
    background-image: url("../img/tina-portrait.jpg");
    height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-categories .zuruck {
    text-align: center;
    position: fixed;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 8px;
    margin-left: 5px;
    top: 50px;
}

.all-categories .zuruck:hover {
    background: rgb(254, 254, 254);
    border: 1px solid white;
}